
@keyframes ticker
  0%
    transform: translate3d(0, 90vh, 0)
    visibility: visible
  100%
    transform: translate3d(0, -100%, 0)


.tangerine-info
  box-sizing: border-box
  width: calc(100% - 350px)
  max-width: 800px
  padding: 50px
  font-size: 32px
  +break
    width: 80%
    font-size: 16px
    padding: 10px
    margin: 0
  +large
    margin: 0 auto
  .info-scroll
    img
      width: 100%
      height: auto
      max-width: 500px
      display: block
      margin: 0 auto



.main-container.info-screen
  .tangerine-info
    .info-scroll
      transform: translate3d(0, 50vh, 0)
      animation-iteration-count: infinite
      animation-timing-function: linear
      animation-name: ticker
      animation-duration: 40s

.mobile-links-open
  display: none
  +break
    display: block
    position: fixed
    //padding: 5px 12px 5px
    width: 60px
    height: 60px
    text-align: center
    right: 10px
    bottom: 80px
    border-radius: 100%
    background: white
    color: #210a24
    text-transform: uppercase
    z-index: 100
    font-size: 12px
    transform: rotate(19deg)

    span
      position: absolute
      width: 100%
      display: block
      top: 17px
      line-height: 1.1em

.tangerine-links
  box-sizing: border-box
  position: absolute
  width: 250px
  bottom: 50px
  right: 50px
  z-index: 1000
  cursor: pointer
  background: rgba(255,255,255,0.7)
  padding: 5px
  border-radius: 5px
  transform: rotate(4deg)
  overflow: hidden
  +break
    display: none
    background: rgba(255,255,255,1)
    //font-size: 12px
    width: auto
    left: 0px
    bottom: 0px
    right: 0px
    top: 0px
    transform: rotate(0deg)
    overflow: auto
    border-radius: 0
    padding-top: 40px
  .mobile-links-close
    position: absolute
    top: 10px
    right: 10px
    background: #210a24
    color: white
    padding: 1px 5px 2px
    border-radius: 5px
    font-size: 14px
    +breakup
      display: none
   
  a
    color: #210a24
    text-decoration: unerline
    &:hover
      color: #ef6720
  ul
    list-style: none
    margin: 0
    padding: 0
    position: relative
    z-index: 10
    li
      border-top: 2px solid #210a24
      text-align: center
      &:first-of-type
        border: none
      a
        display: block
        padding: 5px 0
  .album-link
    img
      display: block
      width: 100%
      height: auto
      border-radius: 5px
