
@keyframes ticker
  0%
    transform: translate3d(0, 65%, 0)
    visibility: visible
  100%
    transform: translate3d(0, -100%, 0)


.tangerine-info
  max-width: 800px
  height: calc(100vh)
  padding: 50px
  font-size: 32px
  overflow: hidden
  margin: 0 auto
  .info-scroll
    img
      max-width: 500px
      display: block
      margin: 0 auto
    display: inline-block



.main-container.info-screen
  .tangerine-info
    .info-scroll
      animation-iteration-count: infinite
      animation-timing-function: linear
      animation-name: ticker
      animation-duration: 40s

.album-info
  position: absolute
  bottom: 50%
  right: 20px
  z-index: 1000
  cursor: pointer
  display: none
  .album-link
    width: 200px
    text-align: center
    display: block
    mix-blend-mode: multiply

    img
      display: block
      width: 100%
      height: auto
