@import mixins
@import info
@import vid



body, html
  margin: 0
  padding: 0
  font-family: 'Oswald', sans-serif
body
  background: black
  background-image: url('../img/sg-worms-dark.jpg')
  background-repeat: no-repeat
  background-position: center center
  background-size: cover
  color: white
  height: 100vh
  width: 100vw
  canvas
    display: block
    margin: 0
    padding: 0
a
  text-decoration: none
  color: white

.main-container
  +bigFull
  position: fixed
  perspective: 1000
  transform-style: preserve-3d
  -webkit-transform-style: preserve-3d
  transition: all .3s ease-out
  transform: rotateY(0)
  &.info-screen
    transform: rotateY(180deg)
    .front
      z-index: 10
      pointer-events: none
    .back
      z-index: 100
      pointer-events: auto
      
.front
  position: absolute
  backface-visibility: hidden
  -webkit-backface-visibility: hidden
  transform: rotateY(0deg)
  +bigFull
  z-index: 100
  pointer-events: auto

#canvas
  +bigFull
  position: absolute
  z-index: -1

.back
  background-image: url('../img/info-screen.jpg')
  background-repeat: no-repeat
  background-position: center center
  background-size: cover
  position: absolute
  backface-visibility: hidden
  -webkit-backface-visibility: hidden
  transform: rotateY(180deg)
  +bigFull
  z-index: 10
  pointer-events: none

.play-button
  position: absolute
  z-index: 10
  width: 200px
  left: calc(50% - 100px)
  top: calc(50% - 100px)
  text-align: center
  padding-top: 110px
  display: none
  &:before
    content: ''
    border: 50px solid transparent
    border-left: 100px solid white
    position: absolute
    top: 0
    left: 60px

.video-close,
.close-info,
.info-button
  font-size: 32px
  text-transform: uppercase
  position: absolute
  z-index: 10
  top: 20px
  right: 20px

.cloak
  +bigFull
  position: fixed
  overflow: hidden
  z-index: 10000000
  background: black
  padding: 10%
  .bg
    +bigFull
    position: absolute
    background-image: url(../img/cm-logo.png)
    background-size: 300px auto
    background-repeat: no-repeat
    background-position: center center
    opacity: 0.08


